<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pupil app</title>
    <script defer src="/static/main.js"></script>
    {% include "components/bearer-auth.html" %}
    <link href="/static/main.css" rel="stylesheet" />
  </head>
  <body
    hx-boost="true"
    hx-ext="response-targets"
    hx-target-error="body"
    class="flex min-h-screen flex-col"
  >
    {% include "components/header.html" %}
    {% block content %}
    {% endblock content %}
  </body>
</html>
