{% import "components/keys.html" as keys %}

<div class="flex flex-col gap-5 lg:flex-row">
  <table class="table-xl table-zebra mb-auto table flex-1">
    <thead>
      <tr>
        <th>{{ localize(key="subject", lang=locale) }}</th>
        <th>{{ localize(key="grade", lang=locale) }}</th>
      </tr>
    </thead>
    <tbody>
      {% for record in context.data %}
        <tr>
          <td>{{ record.subjectTitle }}</td>
          <td>{{ record.grade }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="divider lg:divider-horizontal"></div>
  <div class="flex-1 lg:mt-5">
    <div hx-get="/keys" hx-trigger="load"></div>
  </div>
</div>
