{% import "components/error.html" as error %}

{% macro input(context, field, type="text") %}
  <div>
    <label class="label">{{ localize(key=field, lang=lang) }}</label>
    <input
      name="{{ field }}"
      type="{{ type }}"
      {% if context.status != "success" %}
        value="{{ context.input | get(key=field) }}"
      {% endif %}
      class="input w-full"
      placeholder="{{ localize(key=field, lang=lang) }}"
    />
    {% if context.status == "fail" %}
      <div class="grid">
        {% for error in context.data | get(key=field, default=[]) %}
          {{ error::error(error=error) }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro submission_error(context) %}
  {% if context.status == "error" %}
    {{ error::error(error=context.data) }}
  {% endif %}
{% endmacro %}
