{% set grade = context.data %}

<tr hx-target="this" hx-swap="outerHTML">
  <td>{{ grade.studentName }}</td>
  <td>{{ grade.subjectTitle }}</td>
  <td>
    <input
      type="text"
      name="grade"
      value="{{ grade.grade }}"
      class="input w-24 text-xl"
    />
  </td>
  <td>
    <button
      type="submit"
      class="btn btn-soft btn-success"
      hx-put="/grades/{{ grade.subjectId }}/{{ grade.studentId }}"
      hx-include="closest tr"
    >
      {{ localize(key="save", lang=locale) }}
    </button>
  </td>
</tr>
