{% import "components/error.html" as error %}

{% if context.status == "success" %}
  <tr
    hx-target="this"
    hx-swap="outerHTML"
    hx-target-error="#grade-error-{{ context.data.subjectId }}-{{ context.data.studentId }}"
  >
    <td>{{ context.data.studentName }}</td>
    <td>{{ context.data.subjectTitle }}</td>
    <td class="flex flex-col">
      <input
        type="text"
        name="grade"
        value="{{ context.data.grade }}"
        class="input w-24 text-xl"
      />
      <span
        id="grade-error-{{ context.data.subjectId }}-{{ context.data.studentId }}"
      ></span>
    </td>
    <td>
      <button
        type="submit"
        class="btn btn-soft btn-success top-0 mb-5"
        hx-put="/grades/{{ context.data.subjectId }}/{{ context.data.studentId }}"
        hx-include="closest tr"
      >
        {{ localize(key="save", lang=locale) }}
      </button>
    </td>
  </tr>
{% else %}
  <span
    id="grade-error-{{ context.input.subject }}-{{ context.input.student }}"
    class="relative whitespace-nowrap text-sm max-w-1 mt-3"
  >
    {{ error::error(error=context.data.grade[0]) }}
  </span>
{% endif %}
