{% macro keys(keys) %}
  <div
    class="mx-auto flex w-full max-w-xl flex-col gap-5"
    hx-target="this"
    hx-swap="outerHTML"
  >
    <div class="flex justify-between">
      <div class="text-3xl font-bold">
        {{ localize(key="access-keys", lang=locale) }}
      </div>
      <button class="btn btn-soft btn-success btn-lg" hx-post="/keys/gen">
        {{ localize(key="add", lang=locale) }}
      </button>
    </div>
    <div class="flex flex-col gap-7">
      {% for key in keys %}
        <div class="flex items-center justify-between">
          <div class="flex flex-col gap-1">
            <div>{{ key }}</div>
            <div class="badge badge-soft">
              {{ localize(key="general-access", lang=locale) }}
            </div>
          </div>
          <button class="btn btn-soft btn-error" hx-delete="/keys/{{ key }}">
            {{ localize(key="delete", lang=locale) }}
          </button>
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{{ self::keys(keys=context.data) }}
