<div class="dropdown">
  <div tabindex="0" role="button" class="btn btn-ghost p-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      width="100%"
      height="100%"
    >
      <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
    </svg>
  </div>
  <ul
    tabindex="0"
    class="dropdown-content bg-base-300 rounded-box z-1 p-2 shadow"
  >
    <li>
      {% set system = localize(key="system-theme", lang=locale) %}
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-ghost w-full"
        aria-label="{{ system }}"
        value="default"
      />
    </li>
    <li>
      {% set light = localize(key="light-theme", lang=locale) %}
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-ghost w-full"
        aria-label="{{ light }}"
        value="light"
      />
    </li>
    <li>
      {% set dark = localize(key="dark-theme", lang=locale) %}
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-ghost w-full"
        aria-label="{{ dark }}"
        value="dark"
      />
    </li>
  </ul>
</div>
